*{
	 padding:0;
	 margin: 0;
	 box-sizing :border-box;
}
body
{
	font-family: 'Merriweather Sans', sans-serif;
                
}

.main{
                background: url(./imagee.jpg)no-repeat;
                background-color : grey;
	background-size: 100% 100%;
	width : 100%;
}
.card{
     border:none;
}
.main select{
          height:40px;
          width :90%;
           outline: none;
          padding : 0 20px;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.thick-border {
  border: 3px solid black;
  border-collapse: collapse;
}
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 100px;
  text-align: center;
  background-color: #f1f1f1;
}
